

<mat-card class="card" *ngFor="let person of info$ | async">
    <mat-card-header class="cardHeader">
        {{person.id}}: {{person.name}} / {{person.username}}
    </mat-card-header>
    <mat-card-content >
        <b>Phone:</b> {{person.phone}}
        <br>
        <b>Email:</b> {{person.email}}
        <br>
        <b>Website:</b> {{person.website}}
        <br>
        <b> Address: </b>
        <br>
        <b>Street:</b> {{person.address.street}}
        <br>
        <b>City:</b> {{person.address.city}}
        <br>
        <b>Suite:</b> {{person.address.suite}}
        <br>
        <b>Zipcode:</b> {{person.address.zipcode}}
        <br>
        <b>Company:</b> 
        <br>
        <b>Name:</b> {{person.company.name}}
        <br>
        <b>Catch Phrase:</b> {{person.company.catchPhrase}}
        <br>
        <b>Bs:</b> {{person.company.bs}}
        <br>
        <button mat-raised-button color="primary" type="button" (click) = "onClick()">
            <mat-icon>arrow_back</mat-icon> Return
        </button>
    </mat-card-content>
</mat-card>
