<div class="wrap">

    <mat-form-field appearance="outline" class="input-search">
        <input 
        matInput 
        placeholder="Filter contact name: "
        [(ngModel)]="filterpost"  
        name = "filterpost">
    </mat-form-field>
    
    <div class="helpers">
        <mat-form-field appearance="fill">
            <mat-label>Sort By:</mat-label>
            <mat-select [(ngModel)]="SortbyParam"  >
                <mat-option value="name">
                Name
                </mat-option>
                <mat-option value="id">
                    Id
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" class="sort" type="button" (click)="onSortDirection()">
            <mat-icon>sort_by_alpha</mat-icon>
        </button>

    </div>
</div>

<section class="people">  
    <app-person (infoClick)="sendInfo($event)" 
    [person]="person" *ngFor="let person of people | filter: filterpost | sort: [SortbyParam, SortDirection]"></app-person>
</section>