
.wrap{
    display: flex;
    padding-top: 1%;
    justify-content: center;
    
}
.input{
    padding-left: 2%;
}
.input-search{
    height: auto;
    width: 90%;
}

.sort{
    
    width: 90%;
}
.field{
    
    width: 90%;
}
section.people{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

@media only screen and (max-width: 600px) {
    .wrap{
        display: block;
        padding-top: 1%;
        padding-left: 5%;
        justify-content: center;
    }
  }





